<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Details Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://www.shutterstock.com/image-illustration/single-rice-grain-art-icon-260nw-1737196706.jpg" rel="icon">
  <link href="https://www.shutterstock.com/image-illustration/single-rice-grain-art-icon-260nw-1737196706.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  



</head>

<body>
  <div class="wrap">

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>Rice Type Classification</span></a></h1>
          
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/">About</a></li>
            <li><a class="nav-link scrollto" href="/">Testimonials</a></li>
            <li><a class="nav-link scrollto" href="/">Contact</a></li>
            <li><a class="nav-link scrollto active" href="/details">Predict</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">

          <div class="d-flex justify-content-between align-items-center">
            <h1>Details Page</h1>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Details Page</li>
            </ol>
          </div>

        </div>
      </section><!-- End Breadcrumbs -->

      <section class="inner-page">
        <div class="container">
          <div class="row gy-4">
            <center>
              <div class="upload-form">
                <div class="upload-form-header">
                  <h2>Upload Your Image</h2>
                </div>
                <div class="upload-form-body">
                  <form id="form" action="/result" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="image">Choose Image:</label>
                      <input type="file" id="image" name="image" accept="image/*" onchange="previewImage();">
                    </div>
                    <div class="form-group">
                      <img id="preview" src="" alt="Image Preview" style="display:none; max-width:100%;">
                    </div>
                    <button type="submit" class="cta-btn" style="color: red;">Upload</button>
                  </form>
                </div>
              </div>
            </center>
            </div>
        </div>
      </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Rice</h3>
              <p>
                A108 Adam Street <br>
                Pune, 535022<br>
                India <br><br>
                <strong>Phone:</strong> +91 55895 54885<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>


          </div>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Rice</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
        </div>
      </div>
    </footer><!-- End Footer -->

  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>
